<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Распиcание лекций Школы Разработки Интерфейсов</title>
    <meta name="description" content="Распиcание лекций Школы Разработки Интерфейсов">
    <meta name="keywords" content="распиcание, ШРИ">
    <meta name="author" content="Лукьянчук С.В.">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" media="print" href="print.css" />
        <title>Backbone</title>
        <script src="js/jquery.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/backbone-min.js"></script>
        <script src="js/date-ru-RU.js"></script>
    </head>
    <body>
        <div class="b-nav"></div>
        <div class="b-timetable">

        </div>
        <div class="b-popup" style="display: none;">
            <i class="b-popup__close"></i>
            <div class="b-lection" data-id="id">

            </div>
        </div>

        <script type="text/template" class="b-weeks__list">
            <ul class="b-nav__list">
                <% _.each(weeks, function (week, index) { %>
                    <li class="b-nav__item">
                        <a href="#week/<%= index %>" class="b-nav__link"><%= week.name %></a>
                        <div class="b-week">
                            <ul class="b-week__list">
                                <% _.each(week.dates, function (lectionsList, day) { %>
                                    <% _.each(lectionsList, function (lectionId) { %>
                                        <li class="b-week__item"><a href="#show/<%= lectionId %>" class="b-week__link b-open__lection" data-id="<%= lectionId %>"><span class="b-week__date"><%= GetTextDate(day, 'weeksDate') %></span> <%= lections[lectionId].name %></a></li>
                                    <% }); %>
                                <% }); %>
                            </ul>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </script>

        <script type="text/template" class="b-lection__list">
            <% _.each(weeks, function (week) { %>
                <h1 class="b-timetable__weekname"><%= week.name %></h1>
                <% _.each(week.meta, function (meta) { %>
                    <span class="b-timetable__meta"><%= meta %></span>
                <% }); %>
                <ul class="b-lections">
                    <% _.each(week.dates, function (dayLections, day) { %>
                        <li class="b-lections__day">
                            <div class="b-lections-date"><%= GetTextDate(day, 'lectionsDate') %></div><span class="b-lections__meta"></span>
                            <% _.each(dayLections, function (lectionId) { %>
                                <% var lection = lections[lectionId]; %>
                                <div class="b-lections__lection">
                                    <a href="#show/<%= lectionId %>" class="b-lections__link b-open__lection">
                                        <span class="b-lections__time"><%= lection.time %></span>
                                        <%= lection.name %> <span class="b-lections__lector"></span>
                                    </a>
                                    <div class="b-icons">
                                        <a class="b-icons__link b-icons__video<% if (lection.video != '') { %> b-icons__type_on<% } %>" href="<%= lection.video %>"></a>
                                        <a class="b-icons__link b-icons__ppt<% if (lection.ppt != '') { %> b-icons__type_on<% } %>" href="<%= lection.ppt %>"></a>
                                        <a class="b-icons__link b-icons__task<% if (lection.task != '') { %> b-icons__type_on<% } %>" href="<%= lection.task %>"></a>
                                    </div>
                                </div>
                            <% }); %>
                        </li>
                    <% }); %>
                </ul>
            <% }); %>
        </script>
		
		<script type="text/template" class="b-lection__week">
			<h1 class="b-timetable__weekname"><%= week.name %></h1>
            <% _.each(week.meta, function (meta) { %>
            <span class="b-timetable__meta"><%= meta %></span>
            <% }); %>
            <ul class="b-lections">
                <% _.each(week.dates, function (dayLections, day) { %>
                <li class="b-lections__day">
                    <div class="b-lections-date"><%= GetTextDate(day, 'lectionsDate') %></div><span class="b-lections__meta"></span>
                    <% _.each(dayLections, function (lectionId) { %>
                    <% var lection = lections[lectionId]; %>
                    <div class="b-lections__lection">
                        <a href="#show/<%= lectionId %>" class="b-lections__link b-open__lection">
                            <span class="b-lections__time"><%= lection.time %></span>
                            <%= lection.name %> <span class="b-lections__lector"></span>
                        </a>
                        <div class="b-icons">
                            <a class="b-icons__link b-icons__video<% if (lection.video != '') { %> b-icons__type_on<% } %>" href="<%= lection.video %>"></a>
                            <a class="b-icons__link b-icons__ppt<% if (lection.ppt != '') { %> b-icons__type_on<% } %>" href="<%= lection.ppt %>"></a>
                            <a class="b-icons__link b-icons__task<% if (lection.task != '') { %> b-icons__type_on<% } %>" href="<%= lection.task %>"></a>
                        </div>
                    </div>
                    <% }); %>
                </li>
                <% }); %>
            </ul>
        </script>
		
		<script type="text/template" class="b-lection__template">
            <div class="b-lection__descr">
                <h1><div class="b-edit" data-type="name"><span class="b-edit__label b-lection__name"><%= lection.name %></span><input type="text" class="b-edit__value" style="display: none;" value="<%= lection.name %>" /><i class="b-edit__ico"></i></div></h1>

                <!--<span class="b-lection__date"><%= GetTextDate(date, 'lectionDate') %>, <%= lection.time %></span>-->
                <div class="b-edit" data-type="date"><span class="b-lection__date"><%= GetTextDate(date, 'lectionDate') %>, <%= lection.time %></</span><select size="3" class="b-edit__value" style="display: none;"><% _.each(dates, function (datename) {%><option value="<%= datename %>"<% if (datename == date) { %>selected="selected"<% } %>><%= datename %></option><%}) %></select><i class="b-edit__ico"></i></div>
                <ul>
                    <li class="b-lection__video">
                        <div class="b-edit" data-type="video"><a href="<%= lection.video %>" class="b-icons__video b-lection__link b-lection__link_type_video"<% if(lection.video != '') { %> style="background-position: 0 0;"<% } %>><span class="b-edit__label">Видео</span></a><input type="text" class="b-edit__value" style="display: none;" value="<%= lection.video %>" /><i class="b-edit__ico"></i>
                        </div>
                    </li>
                    <li class="b-lection__ppt">
                        <div class="b-edit" data-type="ppt"><a href="<%= lection.ppt %>" class="b-icons__ppt b-lection__link b-lection__link_type_ppt"<% if(lection.ppt != '') { %> style="background-position: 0 0;"<% } %>><span class="b-edit__label">Презентация</span></a><input type="text" class="b-edit__value" style="display: none;" value="<%= lection.ppt %>" /><i class="b-edit__ico"></i>
                        </div>
                    </li>
                    <li class="b-lection__github">
                        <div class="b-edit" data-type="github"><a href="<%= lection.github %>" class="b-icons__github b-lection__link b-lection__link_type_github"<% if(lection.github != '') { %> style="background-position: 0 0;"<% } %>><span class="b-edit__label">GitHUB</span></a><input type="text" class="b-edit__value" style="display: none;" value="<%= lection.github %>" /><i class="b-edit__ico"></i>
                        </div>
                    </li>
                    <li class="b-lection__club">
                        <div class="b-edit" data-type="club"><a href="<%= lection.club %>" class="b-icons__club b-lection__link b-lection__link_type_club"<% if(lection.club != '') { %> style="background-position: 0 0;"<% } %>><span class="b-edit__label">Обсуждения в Клубе</span></a><input type="text" class="b-edit__value" style="display: none;" value="<%= lection.club %>" /><i class="b-edit__ico"></i>
                        </div>
                    </li>
                    <li class="b-lection__task">
                        <div class="b-edit" data-type="task"><a href="<%= lection.task %>" class="b-icons__task b-lection__link b-lection__link_type_task"<% if(lection.task != '') { %> style="background-position: 0 0;"<% } %>><span class="b-edit__task">Задание</span></a><input type="text" class="b-edit__value" style="display: none;" value="<%= lection.task %>" /><i class="b-edit__ico"></i>
                        </div>
                    </li>
                    <li class="b-lection__descr">
                        <div class="b-edit" data-type="descr"><a href="<%= lection.descr %>" class="b-icons__descr b-lection__link b-lection__link_type_descr"<% if(lection.descr != '') { %> style="background-position: 0 0;"<% } %>><span class="b-edit__descr">Описание</span></a><input type="text" class="b-edit__value" style="display: none;" value="<%= lection.descr %>" /><i class="b-edit__ico"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="b-lector">
                <% lector = lectors[lection.lector] %>
                <img src="<% if (lector.photo == '') { %>pic1.jpg<% } else { %><%= lector.photo %><% }%>" alt="" class="b-lector__img"/>
                <div class="b-edit" data-type="lector">
                    <a href="<%= lector.link %>" class="b-lector__name"><span class="b-edit__lectorname"><%= lector.name %></span></a>
                    <select size="3" class="b-edit__value" style="display: none;"><% _.each(lectors, function (lector, id) { %><option<% if (id == lection.lector ) { %> selected="selected"<% } %> value="<%= id %>"><%= lector.name %></option><% }); %></select><i class="b-edit__ico"></i>
                </div>
            </div>
        </script>
     
        <script>

        var lectors = [
            {
                "name" : "Михаил Трошев",
                "photo" : "http://img-fotki.yandex.ru/get/6610/16051756.0/0_a5ee8_af749073_L",
                "link" : "http://clubs.ya.ru/4611686018427468886/replies.xml?item_no=77",
            },
            {
                "name" : "Сергей Бережной",
                "photo" : "http://img-fotki.yandex.ru/get/6413/16051756.0/0_a5ee9_e1a181e7_M",
                "link" : "http://clubs.ya.ru/4611686018427468886/replies.xml?item_no=89"
            }
        ];
        localStorage.lectors = JSON.stringify(lectors, "", 4);

        var lectionsdata = [
            {
                "time" : "12:00",
                "name" : "Общий цикл разработки",
                "lector" : "0",
                "video" : "http://yadi.sk/d/Lr0Y4WO606jTc",
                "ppt" : "http://yadi.sk/d/VDsJ4ZUBiq6u",
                "task" : "",
                "github" : "",
                "club" : "http://clubs.ya.ru/4611686018427468886/replies.xml?item_no=35",
                "descr" : ""
            },
            {
                "time" : "13:00",
                "name" : "Task Tracker",
                "lector" : "1",
                "video" : "http://yadi.sk/d/D5xTwoIciq6c",
                "ppt" : "",
                "task" : "",
                "github" : "",
                "club" : "http://clubs.ya.ru/4611686018427468886/replies.xml?item_no=37",
                "descr" : "Системы ведения задач"
            },
            {
                "time" : "14:00",
                "name" : "Wiki",
                "lector" : "1",
                "video" : "",
                "ppt" : "http://yadi.sk/d/7F9PuECdiq6G",
                "task" : "",
                "github" : "",
                "club" : "http://clubs.ya.ru/4611686018427468886/replies.xml?item_no=40",
                "descr" : ""
            }
        ];

        localStorage.lections = JSON.stringify(lectionsdata, "", 4);

        var weeks = [
            {
                dates: {
                    "15.09.2012" : [0, 1]
                },
                name: "Открытие",
                meta: ["техологии", "инструменты"]
            },
			{
                dates: {
                    "22.09.2012" : [2]
                },
                name: "Закрытие",
                meta: ["техологии", "инструменты"]
            }
        ];

        localStorage.weeks = JSON.stringify(weeks, "", 4);


            var months = ['январь','февраль','март','апрель','май','июнь','июль','август','сентябрь','октябрь','ноябрь','декабрь'];
            var weekDays = ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'];
            var weekDaysShrt = ['вс','пн','вт','ср','чт','пт','сб'];

            var GetTextDate = function (day, format) {
                var date = Date.parse(day);

                switch (format) {
                    case "weeksDate":
                        var dayNumber = date.getDate();
                        var monthNumber = date.getMonth()+1;
                        if (monthNumber < 10) {
                            monthNumber = '0'+monthNumber;
                        }
                        var dayWeekText = weekDaysShrt[date.getDay()];
                        return dayNumber+'.'+monthNumber+' '+dayWeekText;

                    case "lectionsDate":
                        var dayNumber = date.getDate();
                        var monthText = months[date.getMonth()+1];
                        var dayWeekText = weekDays[date.getDay()];
                        return '<span class="b-lections-date__day">'+dayWeekText+'</span><span class="b-lections-date__month">'+monthText+'</span><span class="b-lections-date__date">'+dayNumber+'</span>';

                    case "lectionDate":
                        var dayNumber = date.getDate();
                        var monthNumber = date.getMonth()+1;
                        if (monthNumber < 10) {
                            monthNumber = '0'+monthNumber;
                        }
                        var dayWeekText = weekDays[date.getDay()];
                        return dayNumber+'.'+monthNumber+' '+dayWeekText;

                }

                return '';
            }

            var TimeTableModel = Backbone.Model.extend({
                defaults: {
                    name: ''
                },
                initialize: function() {
                    this.set(this.get('name'), JSON.parse(localStorage[this.get('name')]));
                },
                idExists: function (id) {
                    return id < this.get(this.get('name')).length;
                },
                getById: function (id) {
                    if (this.idExists(id)) {
                        return this.get(this.get('name'))[id];
                    }
                    return false;
                },
                getAll: function () {
                    return this.get(this.get('name'));
                },
                replace: function (id, value) {
                    var values = this.get(this.get('name'));
                    if (typeof(values[id]) != 'undefined') {
                        values[id] = value;
                        this.set(this.get('name'), values);
                    }
                }
            });

            var Models = {
                Weeks: new TimeTableModel({name: 'weeks'}),
                Lections: new TimeTableModel({name: 'lections'}),
                Lectors: new TimeTableModel({name: 'lectors'}),
				Week: new (Backbone.Model.extend({
                    defaults: {
                        id: false,
                        name: 'lection',
                        week: {}
                    },
                    initialize: function() {
                        this.bind("change", function(){
                            if (this.get('id') !== false) {
                                Views.ViewWeekLections.render(this);
                            } else {
                                Views.ViewAllLections.render();
                            }
                        });
                    },
                    setWeek: function (id) {
                        var week = Models.Weeks.getById(id);
                        if (week) {
                            var params = {id: id};
                            params[this.get('name')] = week;
                            this.set(params);
                            return true;
                        }
                        return false;
                    },
                    getWeek: function () {
                        return this.get(this.get('name'));
                    }
                }))(),
				Lection: new (Backbone.Model.extend({
                    defaults: {
                        id: false,
                        name: 'lection',
                        lection: {}
                    },
                    initialize: function() {
                        this.bind("change", function(){
                            if (this.get('id') !== false) {
                                Views.ViewLection.render(this);
                            }
                        });
                    },
                    setLection: function (id) {
                        var params = {id: false, lection: {}};
                        this.set(params);

                        var lection = Models.Lections.getById(id);

                        if (lection) {
                            params['id'] = parseInt(id);
                            params[this.get('name')] = lection;
                            this.set(params);
                            return true;
                        }
                        return false;
                    },
                    getLection: function () {
                        return this.get(this.get('name'));
                    },
                    getLectionDate: function () {
                        var id = this.get('id'), date;
                        if (id === false) {
                            return false;
                        }

                        var weeks = Models.Weeks.getAll();
                        for (var weekIndex in weeks) {
                            for (var day in weeks[weekIndex].dates) {
                                if ($.inArray(id, weeks[weekIndex].dates[day]) != -1) {
                                    return day;
                                }
                            }
                        }
                        return false;
                    },
                    update: function (field, value) {
                        var id = this.get('id');
                        if (id === false) {
                            return false;
                        }

                        if (field == "date") {
                            var weeks = Models.Weeks.getAll();
                            var dates = [];
                            for (var weekIndex in weeks) {
                                for (var date in weeks[weekIndex].dates) {
                                    var index = $.inArray(id, weeks[weekIndex].dates[date]);
                                    if (index != -1) {
                                        weeks[weekIndex].dates[date].splice(index, 1);
                                    }
                                    if (date == value) {
                                        weeks[weekIndex].dates[date].push(id);
                                    }
                                }
                            }
                            Models.Weeks.set(Models.Weeks.get('name'), weeks);
                        } else {
                            var element = this.get(this.get('name'));
                            element[field] = value;
                            Models.Lections.replace(id, element);
                        }

                        this.setLection(id);
                        return true;
                    }
                }))()
            };

            var timetable = $(".b-timetable");

            Views = {
				ViewLection: new (Backbone.View.extend({
                    el: $(".b-lection"),
                    render: function () {
                        var lection = Models.Lection.getLection();
                        var weeks = Models.Weeks.getAll();
                        var dates = [];
                        for (var weekIndex in weeks) {
                            for (date in weeks[weekIndex].dates) {
                                dates.push(date);
                            }
                        }
                        $(this.el).html(_.template($('.b-lection__template').html(), {
                            lection: lection,
                            date: Models.Lection.getLectionDate(),
                            lectors: Models.Lectors.getAll(),
                            dates: dates
                        }));
                        $('.b-popup').show();
                    }
                }))(),
                ViewAllLections: new (Backbone.View.extend({
                    el: timetable,
                    render: function () {
                        $(this.el).html(_.template($('.b-lection__list').html(), {
                            weeks: Models.Weeks.getAll(),
                            lections: Models.Lections.getAll()
                        })).show();
                    }
                }))(),
                ViewTopWeeks: new (Backbone.View.extend({
                    el: $(".b-nav"),
                    render: function () {
                        $(this.el).html(_.template($('.b-weeks__list').html(), {
                            weeks: Models.Weeks.getAll(),
                            lections: Models.Lections.getAll()
                        })).show();
                    }
                }))(),
				ViewWeekLections: new (Backbone.View.extend({
                    el: timetable,
                    render: function () {
                        var week = Models.Week.getWeek();
                        if (week) {
                            $(this.el).html(_.template($('.b-lection__week').html(), {
                                week: week,
                                lections: Models.Lections.getAll()
                            })).show();
                            return true;
                        }
                        return false;
                    }
                }))()
            };

            var Controller = Backbone.Router.extend({
                routes: {
                    "": "MainPage",
                    "/": "MainPage",
					"week/:id": "ShowWeek",
					"show/:id": "ShowLection",
                },
                MainPage: function () {
                    Views.ViewTopWeeks.render();
                    Views.ViewAllLections.render();
                },
                ShowWeek: function (id) {
                    Models.Week.setWeek(id);
                    Views.ViewTopWeeks.render();
                },
                ShowLection: function (id) {
                    Models.Lection.setLection(id);
                    Views.ViewTopWeeks.render();
                    if (!Views.ViewWeekLections.render()) {
                        Views.ViewAllLections.render();
                    }
                }
              
            });

            var controller = new Controller(); // Создаём контроллер
            Backbone.history.start();  // Запускаем HTML5 History push
			
            $(document).ready(function () {
                $('.b-popup__close').click(function () {
                    //$(this).closest('.b-popup').hide();
                    $('.b-popup').hide();
                    Models.Lection.set('id', false);
                    var id = Models.Week.get('id');
                    if (id !== false) {
                        document.location = '#week/'+id;
                    } else {
                        document.location = '#main';
                    }
                    return true;
                });
				$('.b-edit__ico').live('click', function () {
                    $(this).prev('.b-edit__value').show().focus();
                    $(this).prevAll('a').find('.b-edit__label').hide();
                });
                $('.b-edit__value').live('focusout', function () {
                    var element = $(this);
                    element.hide();
                    var key = element.closest('.b-edit').data('type');
                    Models.Lection.update(key, element.val());
                });
                $(".b-update__enter").live("click", function() {
                    $(this).hide();
                    $(".b-update__block").show();
                    $(".b-update__text").val('').focus();
                    return false;
                });
			});
           
        </script>

    </body>
</html>