.b-nav {
    display: none;
}

h1 {
    font-size: 20px;
}

.b-icons {
    display: none;
}

.b-lections__day {
    font-size: 14px;

    position: relative;

    display: block;
    width: auto;
    min-height: 20px;
    margin: 10px 0 0 0;
    padding: 6px;

    line-height: 17px;

    background: #E4ECF1;
}

.b-lections-date{
    position: relative;
    right: 0;

    float: left;
    height: 43px;
    margin: 0 20px;
    width: 100px;
}

.b-lections-date__date{
    font-size: 30px;

    position: absolute;
    right: 0;
}

.b-lections-date__month {
    font-size: 14px;

    left: 0;
    position: absolute;
    top: 20px;
}

.b-lections-date__day {
    font-size: 11px;

    bottom: 20px;
    left: 0;
}

.b-lections__lector {
    display:inline-block;
    _overflow:hidden;
    *zoom:1;
    *display:inline;
    vertical-align: top;
}

.b-lections__link {
    width: auto;
}

.b-update {
    display: none;
}