@import url(blocks/i-reset/i-reset.css);
@import url(blocks/i-global/i-global.css);
@import url(blocks/b-edit/b-edit.css);
@import url(blocks/b-icons/b-icons.css);
@import url(blocks/b-lection/b-lection.css);
@import url(blocks/b-lections/b-lections.css);
@import url(blocks/b-lections-date/b-lections-date.css);
@import url(blocks/b-lector/b-lector.css);
@import url(blocks/b-week/b-week.css);
@import url(blocks/b-nav/b-nav.css);
@import url(blocks/b-popup/b-popup.css);
@import url(blocks/b-timetable/b-timetable.css);
@import url(blocks/b-update/b-update.css);





















