.b-lections-date {
    position: absolute;
    right: 18px;
    bottom: 14px;

    color: #B8BFC6;
}

.b-lections-date__day {
    font-size: 12px;

    position: absolute;
    right: 58px;
    bottom: 27px;

    color: #8C929C;
}

.b-lections-date__month {
    font-weight: bold;
    font-size: 20px;
}

.b-lections-date__date {
    font-size: 50px;
    font-weight: bold;

}