.b-edit {
    position: relative;

    display:inline-block;
    _overflow:hidden;
    *zoom:1;
    *display:inline;
    vertical-align: top;

    line-height: 19px;
}

.b-edit__ico {
    display: none;

    margin: 0 0 0 10px;
    width: 19px;
    height: 19px;

    opacity: 0.3;
    cursor: pointer;
    background: url(b-edit__ico.png) no-repeat;
}

.b-edit:hover .b-edit__ico {
    display:inline-block;
    _overflow:hidden;
    *zoom:1;
    *display:inline;
    vertical-align: middle;
}

.b-edit__ico:hover {
    opacity: 1;
}

.b-edit__value {
    width: 150px;

    color: #333;
}

.b-edit__date {
    height: 21px;
}

.b-edit__select, .b-edit__textarea {
    position: absolute;
    z-index: 100;
	margin: 0;
}
