.b-week {
    font-size: 15px;

    position: absolute;
    z-index: 100;

    border-bottom: 1px solid #4D5462;
    border-left: 1px solid #4D5462;
    border-right: 1px solid #4D5462;

    display: none;
    width: 260px;
    padding: 16px 9px;

    line-height: 20px;

    background: #34373F;
}

.b-week__date {
    font-size: 12px;

    float: left;
    height: 21px;
    padding: 0 12px 0 0;

    color: #6F7683;
}

.b-week__item {
    margin: 0 0 10px 0;
}

.b-week__link {
    text-decoration: none;

    color: #fff;
}

.b-week__link:hover {
    color: #3FA9F5;
}

.b-nav__item:hover .b-week{
    display: block;
}