.b-lection {
    color: #fff;
}

.b-lection__name {
    font-weight: normal;
    font-size: 22px;

    display:inline-block;
    _overflow:hidden;
    *zoom:1;
    *display:inline;
    vertical-align: middle;

    text-shadow: -1px -1px 1px #000;

    color: #fff;
}

.b-lection__descr {
    display:inline-block;
    _overflow:hidden;
    *zoom:1;
    *display:inline;
    vertical-align: top;

    margin: 0 10px 0 0;
    width: 290px;
}

.b-lection__date {
    font-size: 14px;

    text-shadow: -1px -1px 1px #000;
    line-height: 19px;

    color: #6F7683;
}


.b-lection__link {
    line-height: 22px;

    display:inline-block;
    _overflow:hidden;
    *zoom:1;
    *display:inline;
    vertical-align: top;

    min-height: 22px;
    padding: 0 0 0 30px;

    text-decoration: none;

    border: none !important;
}
