.b-popup {
    font-size: 13px;

    position: absolute;
    top: 200px;
    left: 288px;
    z-index: 100;

    padding: 15px 30px 25px 30px;

    width: 415px;

    line-height: 17px;

    background: #34373F;
    border: 1px solid #000;
}

.b-popup a{
    color: #fff;

}

.b-popup__close {
    position: absolute;

    display: block;
    width: 26px;
    height: 25px;
    margin: -30px 0 0 419px;

    cursor: pointer;

    background: url(b-popup__close.png) no-repeat;
}
