
.b-timetable {
    position: relative;

    width: 960px;
    margin: 0 auto;
    padding: 30px 0;
}

.b-timetable__meta {
    font-size: 12px;

    color: #B8BFC6;
}

.b-timetable__weekname {
    display:inline-block;
    _overflow:hidden;
    *zoom:1;
    *display:inline;
    vertical-align: middle;
}

.b-timetable__index {
    position: absolute;
    z-index: 100;
    left: 0;

    float: left;
    margin: 5px 0 0;

    color: #333333;
}