.b-lections {
    font-size: 0;
    line-height: 0;
}

.b-lections__day {
    font-size: 13px;

    position: relative;

    display:inline-block;
    _overflow:hidden;
    *zoom:1;
    *display:inline;
    vertical-align: top;

    width: 264px;
    min-height: 164px;
    padding: 18px;
    margin: 20px 20px 0 0;

    background: #E4ECF1;
}


.b-lections__link {
    font-size: 16px;

    display: block;
    overflow: hidden;

    width: 264px;

    text-decoration: none;
    text-shadow: -1px -1px 1px #fff;
    line-height: 18px;

    color: #4D5462;
}

.b-lections__link:hover {
    color: #3FA9F5;
}

.b-lections__time {
    font-size: 13px;

    float: left;

    padding: 0 18px 0 0;
    height: 20px;

    text-shadow: none;
}

.b-lections__link:hover .b-lections__time {
    color: #4D5462;
}

.b-lections__lector {
    display: none;
}