.b-lections {
    font-size: 0;
    line-height: 0;
}

.b-lections__day {
    font: 13px/1.5 Arial, sans-serif;
    background: #E4ECF1;
    display:inline-block;
    _overflow:hidden;
    *zoom:1;
    *display:inline;
    vertical-align: top;
    padding: 18px;
    width: 264px;
    position: relative;
    margin: 20px 20px 0 0;
    min-height: 164px;
    overflow: hidden;
}


.b-lections__link {
    text-decoration: none;
    color: #4D5462;
    font-size: 16px;
    text-shadow: -1px -1px 1px #fff;
    display: block;
    width: 264px;
    line-height: 18px;
    overflow: hidden;
}

.b-lections__link:hover {
    color: #3FA9F5;
}

.b-lections__time {
    text-shadow: none;
    font-size: 13px;
    padding: 0 18px 0 0;
    float: left;
    height: 20px;
}

.b-lections__link:hover .b-lections__time {
    color: #4D5462;
}

.b-lections__lector {
    display: none;
}